html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page {
  display: flex;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgb(246, 243, 55);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages {
  text-align: center;
  margin-bottom: 1.5rem;
  max-width: 350px;
  font-size: 1.5em;
  color: #222;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-area {
  text-align: center;
  cursor: text;
}

.guess-field {
  border: none;
  border-bottom: 2px solid #444;
  background-color: inherit;
  font-size: 1.3rem;
  caret-color: #333;
  max-width: 160px;
  margin: 0 1rem;
}

.guess-field:focus {
  outline: 0;
}

.submit-btn {
  padding: 1rem;
  box-sizing: border-box;
  background-color: inherit;
  border: solid 1px #333;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(182, 179, 42);
}

/* HINTS */
.hints {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

/* .hint-count__container, */
.hint-btn {
  margin-top: 5rem;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(246, 243, 55);
  margin: 10px;
  border: none;
  font-size: 1.3rem;
  box-shadow: 5px 5px 5px rgb(182, 179, 42);
}

.hint-count__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  width: 200px;
  height: 180px;
  background-color: rgb(246, 243, 55);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.hint-count {
  font-size: 1.5rem;
  margin-top: 0;
}

.hint-btn:hover {
  background-color: rgb(236, 233, 45);
}

.hint-btn:active {
  outline: 0;
  transform: translate(5px, 5px);
  box-shadow: none;
}

.hint-btn:focus-visible {
  outline: 1;
}

.hint-message {
  max-width: 350px;
  margin-top: 1.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .messages {
    max-width: 250px;
  }
  .page {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
  }
  .hints {
    display: flex;
    height: fit-content;
    flex-shrink: 0;
    flex-direction: row;
    margin-top: 2rem;
  }
  .hint-message {
    max-width: 200px;
    margin: auto;
    margin-top: 1.5rem;
  }
  .hint-btn,
  .hint-count__container {
    max-width: 150px;
    max-height: 150px;
  }
}
